/*!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-11.4.2-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: db_keuangan_gereja
-- ------------------------------------------------------
-- Server version	11.4.2-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Current Database: `db_keuangan_gereja`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `db_keuangan_gereja` /*!40100 DEFAULT CHARACTER SET latin1 COLLATE latin1_swedish_ci */;

USE `db_keuangan_gereja`;

--
-- Table structure for table `approval`
--

DROP TABLE IF EXISTS `approval`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `approval` (
  `id_approval` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_church` bigint(20) unsigned NOT NULL,
  `id_transaksi` bigint(20) unsigned NOT NULL,
  `id_pendeta` bigint(20) unsigned NOT NULL,
  `tanggal_approve` datetime NOT NULL,
  `status` enum('disetujui','ditolak') NOT NULL DEFAULT 'disetujui',
  `catatan` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_approval`),
  KEY `approval_id_church_index` (`id_church`),
  KEY `approval_id_transaksi_index` (`id_transaksi`),
  KEY `approval_id_pendeta_index` (`id_pendeta`),
  CONSTRAINT `approval_id_church_foreign` FOREIGN KEY (`id_church`) REFERENCES `churches` (`id_church`) ON DELETE CASCADE,
  CONSTRAINT `approval_id_pendeta_foreign` FOREIGN KEY (`id_pendeta`) REFERENCES `users` (`id_user`),
  CONSTRAINT `approval_id_transaksi_foreign` FOREIGN KEY (`id_transaksi`) REFERENCES `transaksi_kas` (`id_transaksi`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `approval`
--

LOCK TABLES `approval` WRITE;
/*!40000 ALTER TABLE `approval` DISABLE KEYS */;
/*!40000 ALTER TABLE `approval` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `churches`
--

DROP TABLE IF EXISTS `churches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `churches` (
  `id_church` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nama_gereja` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `alamat` text DEFAULT NULL,
  `kontak` varchar(255) NOT NULL,
  `no_telp` varchar(20) DEFAULT NULL,
  `path_logo` varchar(255) DEFAULT NULL,
  `status` enum('aktif','nonaktif','trial') NOT NULL DEFAULT 'aktif',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_church`),
  UNIQUE KEY `churches_slug_unique` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `churches`
--

LOCK TABLES `churches` WRITE;
/*!40000 ALTER TABLE `churches` DISABLE KEYS */;
INSERT INTO `churches` VALUES
(1,'GPdI Mahanaim','mahanaim','Sadaperarih','08123456789',NULL,NULL,'aktif','2026-08-25 20:31:03','2026-08-25 20:31:03');
/*!40000 ALTER TABLE `churches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `janji_iman`
--

DROP TABLE IF EXISTS `janji_iman`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `janji_iman` (
  `id_janji` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_church` bigint(20) unsigned NOT NULL,
  `id_jemaat` bigint(20) unsigned NOT NULL,
  `total_janji` decimal(15,2) NOT NULL,
  `tanggal_mulai` date NOT NULL,
  `status` enum('belum_lunas','lunas') NOT NULL DEFAULT 'belum_lunas',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_janji`),
  KEY `janji_iman_id_church_index` (`id_church`),
  KEY `janji_iman_id_jemaat_index` (`id_jemaat`),
  CONSTRAINT `janji_iman_id_church_foreign` FOREIGN KEY (`id_church`) REFERENCES `churches` (`id_church`) ON DELETE CASCADE,
  CONSTRAINT `janji_iman_id_jemaat_foreign` FOREIGN KEY (`id_jemaat`) REFERENCES `jemaat` (`id_jemaat`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `janji_iman`
--

LOCK TABLES `janji_iman` WRITE;
/*!40000 ALTER TABLE `janji_iman` DISABLE KEYS */;
/*!40000 ALTER TABLE `janji_iman` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jemaat`
--

DROP TABLE IF EXISTS `jemaat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jemaat` (
  `id_jemaat` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_church` bigint(20) unsigned NOT NULL,
  `nama_jemaat` varchar(255) NOT NULL,
  `alamat` varchar(255) NOT NULL,
  `no_hp` varchar(255) NOT NULL,
  `id_rayon` bigint(20) unsigned NOT NULL,
  `status` enum('aktif','nonaktif') NOT NULL DEFAULT 'aktif',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_jemaat`),
  KEY `jemaat_id_church_index` (`id_church`),
  KEY `jemaat_id_rayon_index` (`id_rayon`),
  CONSTRAINT `jemaat_id_church_foreign` FOREIGN KEY (`id_church`) REFERENCES `churches` (`id_church`) ON DELETE CASCADE,
  CONSTRAINT `jemaat_id_rayon_foreign` FOREIGN KEY (`id_rayon`) REFERENCES `rayon` (`id_rayon`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jemaat`
--

LOCK TABLES `jemaat` WRITE;
/*!40000 ALTER TABLE `jemaat` DISABLE KEYS */;
INSERT INTO `jemaat` VALUES
(1,1,'Jemaat Bantal Surbakti','Sadaperarih','081398765432',1,'aktif','2026-08-25 20:31:05','2026-08-25 20:31:05');
/*!40000 ALTER TABLE `jemaat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kategori_transaksi`
--

DROP TABLE IF EXISTS `kategori_transaksi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kategori_transaksi` (
  `id_kategori` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_church` bigint(20) unsigned NOT NULL,
  `nama_kategori` varchar(255) NOT NULL,
  `jenis` enum('pemasukan','pengeluaran') NOT NULL,
  `keterangan` text DEFAULT NULL,
  `status` enum('aktif','nonaktif') NOT NULL DEFAULT 'aktif',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_kategori`),
  KEY `kategori_transaksi_id_church_index` (`id_church`),
  CONSTRAINT `kategori_transaksi_id_church_foreign` FOREIGN KEY (`id_church`) REFERENCES `churches` (`id_church`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kategori_transaksi`
--

LOCK TABLES `kategori_transaksi` WRITE;
/*!40000 ALTER TABLE `kategori_transaksi` DISABLE KEYS */;
/*!40000 ALTER TABLE `kategori_transaksi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `laporan`
--

DROP TABLE IF EXISTS `laporan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `laporan` (
  `id_laporan` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_church` bigint(20) unsigned NOT NULL,
  `kode_laporan` varchar(255) NOT NULL,
  `jenis_kas` enum('kas_umum','pembangunan') NOT NULL,
  `periode_awal` date NOT NULL,
  `periode_akhir` date NOT NULL,
  `total_debit` decimal(15,2) NOT NULL DEFAULT 0.00,
  `total_kredit` decimal(15,2) NOT NULL DEFAULT 0.00,
  `saldo_akhir` decimal(15,2) NOT NULL DEFAULT 0.00,
  `id_user` bigint(20) unsigned NOT NULL,
  `status` enum('pending','disetujui') NOT NULL DEFAULT 'pending',
  `tanggal_diajukan` datetime NOT NULL,
  `tanggal_disetujui` datetime DEFAULT NULL,
  `keterangan` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_laporan`),
  KEY `laporan_id_church_index` (`id_church`),
  KEY `laporan_id_user_index` (`id_user`),
  CONSTRAINT `laporan_id_church_foreign` FOREIGN KEY (`id_church`) REFERENCES `churches` (`id_church`) ON DELETE CASCADE,
  CONSTRAINT `laporan_id_user_foreign` FOREIGN KEY (`id_user`) REFERENCES `users` (`id_user`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `laporan`
--

LOCK TABLES `laporan` WRITE;
/*!40000 ALTER TABLE `laporan` DISABLE KEYS */;
/*!40000 ALTER TABLE `laporan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_resets`
--

DROP TABLE IF EXISTS `password_resets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_resets` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_resets`
--

LOCK TABLES `password_resets` WRITE;
/*!40000 ALTER TABLE `password_resets` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_resets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pembayaran_janji`
--

DROP TABLE IF EXISTS `pembayaran_janji`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pembayaran_janji` (
  `id_bayar` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_church` bigint(20) unsigned NOT NULL,
  `id_janji` bigint(20) unsigned NOT NULL,
  `tanggal_bayar` date NOT NULL,
  `jumlah_bayar` decimal(15,2) NOT NULL,
  `id_transaksi` bigint(20) unsigned DEFAULT NULL,
  `bukti_bayar` varchar(255) DEFAULT NULL,
  `id_user` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_bayar`),
  KEY `pembayaran_janji_id_church_index` (`id_church`),
  KEY `pembayaran_janji_id_janji_index` (`id_janji`),
  KEY `pembayaran_janji_id_transaksi_index` (`id_transaksi`),
  KEY `pembayaran_janji_id_user_index` (`id_user`),
  CONSTRAINT `pembayaran_janji_id_church_foreign` FOREIGN KEY (`id_church`) REFERENCES `churches` (`id_church`) ON DELETE CASCADE,
  CONSTRAINT `pembayaran_janji_id_janji_foreign` FOREIGN KEY (`id_janji`) REFERENCES `janji_iman` (`id_janji`) ON DELETE CASCADE,
  CONSTRAINT `pembayaran_janji_id_transaksi_foreign` FOREIGN KEY (`id_transaksi`) REFERENCES `transaksi_kas` (`id_transaksi`) ON DELETE SET NULL,
  CONSTRAINT `pembayaran_janji_id_user_foreign` FOREIGN KEY (`id_user`) REFERENCES `users` (`id_user`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pembayaran_janji`
--

LOCK TABLES `pembayaran_janji` WRITE;
/*!40000 ALTER TABLE `pembayaran_janji` DISABLE KEYS */;
/*!40000 ALTER TABLE `pembayaran_janji` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_access_tokens`
--

DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) NOT NULL,
  `tokenable_id` bigint(20) unsigned NOT NULL,
  `name` varchar(255) NOT NULL,
  `token` varchar(64) NOT NULL,
  `abilities` text DEFAULT NULL,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_access_tokens`
--

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rayon`
--

DROP TABLE IF EXISTS `rayon`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rayon` (
  `id_rayon` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_church` bigint(20) unsigned NOT NULL,
  `nama_rayon` varchar(255) NOT NULL,
  `keterangan` text DEFAULT NULL,
  `status` enum('aktif','nonaktif') NOT NULL DEFAULT 'aktif',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_rayon`),
  KEY `rayon_id_church_index` (`id_church`),
  CONSTRAINT `rayon_id_church_foreign` FOREIGN KEY (`id_church`) REFERENCES `churches` (`id_church`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rayon`
--

LOCK TABLES `rayon` WRITE;
/*!40000 ALTER TABLE `rayon` DISABLE KEYS */;
INSERT INTO `rayon` VALUES
(1,1,'Rayon Sadaperarih','Wilayah pusat Sadaperarih','aktif','2026-08-25 20:31:03','2026-08-25 20:31:03');
/*!40000 ALTER TABLE `rayon` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transaksi_kas`
--

DROP TABLE IF EXISTS `transaksi_kas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transaksi_kas` (
  `id_transaksi` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_church` bigint(20) unsigned NOT NULL,
  `tanggal` date NOT NULL,
  `keterangan` varchar(255) NOT NULL,
  `debit` decimal(15,2) NOT NULL DEFAULT 0.00,
  `kredit` decimal(15,2) NOT NULL DEFAULT 0.00,
  `saldo` decimal(15,2) NOT NULL DEFAULT 0.00,
  `jenis_kas` enum('kas_umum','pembangunan','rayon') NOT NULL,
  `id_kategori` bigint(20) unsigned NOT NULL,
  `id_user` bigint(20) unsigned NOT NULL,
  `id_jemaat` bigint(20) unsigned DEFAULT NULL,
  `bukti_transaksi` varchar(255) DEFAULT NULL,
  `status` enum('pending','disetujui','ditolak') DEFAULT 'pending',
  `alasan_penolakan` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_transaksi`),
  KEY `transaksi_kas_id_church_index` (`id_church`),
  KEY `transaksi_kas_id_kategori_index` (`id_kategori`),
  KEY `transaksi_kas_id_user_index` (`id_user`),
  KEY `transaksi_kas_id_jemaat_index` (`id_jemaat`),
  CONSTRAINT `transaksi_kas_id_church_foreign` FOREIGN KEY (`id_church`) REFERENCES `churches` (`id_church`) ON DELETE CASCADE,
  CONSTRAINT `transaksi_kas_id_jemaat_foreign` FOREIGN KEY (`id_jemaat`) REFERENCES `jemaat` (`id_jemaat`) ON DELETE SET NULL,
  CONSTRAINT `transaksi_kas_id_kategori_foreign` FOREIGN KEY (`id_kategori`) REFERENCES `kategori_transaksi` (`id_kategori`),
  CONSTRAINT `transaksi_kas_id_user_foreign` FOREIGN KEY (`id_user`) REFERENCES `users` (`id_user`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transaksi_kas`
--

LOCK TABLES `transaksi_kas` WRITE;
/*!40000 ALTER TABLE `transaksi_kas` DISABLE KEYS */;
/*!40000 ALTER TABLE `transaksi_kas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id_user` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_church` bigint(20) unsigned NOT NULL,
  `nama` varchar(255) NOT NULL,
  `username` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('admin','bendahara_kas','bendahara_pembangunan','pendeta','jemaat') NOT NULL,
  `status` enum('aktif','nonaktif') NOT NULL DEFAULT 'aktif',
  `id_jemaat` bigint(20) unsigned DEFAULT NULL,
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_user`),
  UNIQUE KEY `users_id_church_username_unique` (`id_church`,`username`),
  KEY `users_id_church_index` (`id_church`),
  KEY `users_id_jemaat_index` (`id_jemaat`),
  CONSTRAINT `users_id_church_foreign` FOREIGN KEY (`id_church`) REFERENCES `churches` (`id_church`) ON DELETE CASCADE,
  CONSTRAINT `users_id_jemaat_foreign` FOREIGN KEY (`id_jemaat`) REFERENCES `jemaat` (`id_jemaat`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2026-08-26 13:13:43
